<h3>Student: {{ insertValuesUpdate.students_name }}</h3>
<form
  class="form-group form-update-user border d-flex"
  [formGroup]="updateUserForm"
  (ngSubmit)="submit(updateUserForm.value)"
>
  <div class="d-flex">
    <div class="form-group m-1">
      <input
        [(ngModel)]="insertValuesUpdate.students_id"
        id="students_id"
        type="hidden"
        class="form-control"
        formControlName="students_id"
      />
    </div>
  </div>

  <div class="form-group m-1 widthHight">
    <label for="studentsGrades">studentsGrades</label>
    <textarea
      [(ngModel)]="insertValuesUpdate.studentsGrades"
      id="studentsGrades"
      (keydown.enter)="onKeydown($event)"
      class="form-control"
      formControlName="studentsGrades"
    ></textarea>
    <div
      *ngIf="studentsGrades.touched && studentsGrades.invalid"
      class="alert alert-danger"
    >
      <div *ngIf="studentsGrades.errors.required">
        studentsGrades Grades Required
      </div>
    </div>
  </div>
  <button
    [disabled]="!updateUserForm.valid"
    class="btn btn-secondary m-auto d-block"
    type="submit"
  >
    Save
  </button>
</form>
