<form
  class="form-group form-create-user border"
  [formGroup]="updateUserForm"
  (ngSubmit)="submit(updateUserForm.value)"
>
  <div class="d-flex">
    <div formGroupName="insertNewStudent">
      <div class="form-group">
        <label for="students_name">Name</label>
        <input
          id="students_name"
          type="text"
          class="form-control"
          formControlName="students_name"
        />
        <div
          *ngIf="students_name.touched && students_name.invalid"
          class="alert alert-danger"
        >
          <div *ngIf="students_name.errors.required">Name Is Required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="students_number">Student Number</label>
        <input
          id="students_number"
          type="number"
          [(ngModel)]="studentsNumberDataBinding"
          class="form-control"
          formControlName="students_number"
        />
        <div *ngIf="students_number.touched && students_number.invalid">
          <div class="alert alert-danger">Student Number Required</div>
        </div>
      </div>
    </div>
    <div formGroupName="updateGrades" class="ml-1">
      <div class="form-group">
        <label for="studentsGrades">studentsGrades Grades</label>
        <textarea
          id="studentsGrades"
          (keydown.enter)="onKeydown($event)"
          class="form-control heightOfField"
          formControlName="studentsGrades"
          max="100"
        ></textarea>
        <div *ngIf="studentsGrades.touched && studentsGrades.invalid" class="alert alert-danger">
          <div *ngIf="studentsGrades.errors.required">studentsGrades Grades Required</div>
        </div>
      </div>

      <div class="form-group">
        <input
          id="students_number"
          type="hidden"
          [(ngModel)]="studentsNumberDataBinding"
          class="form-control"
          formControlName="students_number"
          max="100"
        />
      </div>
    </div>
  </div>
  <button
    [disabled]="!updateUserForm.valid"
    class="btn btn-secondary mx-auto d-block"
    type="submit"
  >
    Submit
  </button>
</form>
